# EDIT AND RENAME TO 'settings.yaml'

discord:
    token: YOUR DISCORD BOT TOKEN
ebay:
    domain: svcs.ebay.com
    appid: YOUR EBAY APPID
    version: 1.13.0
    max_daily_calls: 5000
jsonbin:  # https://jsonbin.io
    bin-in: YOUR BIN ID
    secret-key: YOUR API SECRET KEY  # https://jsonbin.io/api-keys
